*{
	margin: 0;
	padding:0;
}
#box{
	width:1284px;
	height:560px;
	margin: 0 auto;
	background: url(../img/main_banner_2eeb95c.jpg);
	position: relative;
}
#sijiemian{
	width:500px;
	height: 500px;
	background: url(../img/video_bg_69d56fe.jpg); 	
	position: absolute;
	right:20px;
	top:20px;
	border-radius: 20px;
}
#dengluname{
	width:300px;
	height:25px;
	margin-left: 100px;
	margin-top:90px;
}

#dengluname p{
	font-size: 18px;	
	font-family: "微软雅黑";
}
#sia{
	margin-left:100px;
	text-decoration:none;
	font-size: 14px;
	color: black;
}	
#sia1{
	width:50px;
	height: 30px;
	margin-left:150px;
	font-size: 14px;
	color: black;
	text-decoration:none;
}
#text1{
	width:300px;
	height: 50px;
	margin-top: 20px;
	margin-left:100px;
	font-size:14px;
	background: white url(../img/oiuoiuoiu.png) no-repeat;
	outline: none;
	text-indent: 50px;
	font-family: "微软雅黑";
	border: 1px solid #999999;
}
#pass1{
	width:300px;
	height: 50px;
	margin-left:100px;
	margin-top:20px;
	border: 1px solid #999999;
	font-size:14px;
	background: white url(../img/ouoadsfasd.png) no-repeat;
	outline: none;
	text-indent: 50px;
}
#btn1{
	width:300px;
	height: 50px;
	margin-left:100px;
	margin-top:20px;
	font-size: 18px;
	font-family: "微软雅黑";
	background-color:#ff3c3c;
	outline: none;
	border-radius: 10px;
	color:white;
}
#foot{
	width:1284px;
	height: 100px;
	margin: 0 auto;
	background: url(../img/adfasdfasdf.png)
}
#foot ul{
	margin-left:520px;
	line-height: 80px;
}
#foot ul li{
	list-style: none;
	float:left;
	margin-left:30px;
}
#foot ul li a{
	color:white;
	font-size: 10px;
	text-decoration: none;
}
